.product__rating {
  display: flex;
  color: rgb(255, 215, 0);
}

.product {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  max-height: 400px;
  min-width: 100px;
  margin: 10px;
  align-items: center;
  z-index: 1;
  width: 100%;
  padding: 20px;
  justify-content: flex-end;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product__price {
  margin-top: 5px;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}

.product__button {
  background-color: rgb(0, 0, 0);
  border: 2px solid;
  border-color: rgb(0, 0, 0);
  border-radius: 20px;
  color: rgb(255, 248, 248);
  cursor: pointer;
  padding: 2px 50px;
}

.product__button:hover {
  background-color: #f5f5f5;
  box-shadow: 4px 6px 5px #000000;
  color: #000000;
}
